.products {
  width: 100%;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products > .container {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.products .heading {
  color: var(--black);
  font-weight: 600;
  letter-spacing: -0.04em;
  font-size: 2rem;
}
.product__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product__list > .product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  color: var(--black);
  margin-top: 50px;
}

.product > .title {
  font-family: "GGMedium", sans-serif;
  font-weight: 400;
  margin-top: 30px;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.product > .desc {
  line-height: 1.2em;
  color: var(--grey);
}
